# =========================
# Proyecto
# =========================
PROJECT_NAME=jira-table

# =========================
# Dominio local / entorno
# =========================
APP_DOMAIN=task-report.test

# =========================
# Node / App
# =========================
APP_PORT=3030
NODE_ENV=development

# =========================
# Traefik
# =========================
TRAEFIK_ENTRYPOINT=web
